############################
# Build / CMake
############################
cmake-build-*/
build/
out/

############################
# Compilated
############################
*.o
*.obj
*.exe
*.out
*.a
*.so
*.dylib

############################
# IDEs
############################
.idea/
.vscode/

############################
# Sistema Operacional (OS)
############################
# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

############################
# Logs e temporários
############################
*.log
*.tmp
*.swp
